<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments::htmlHead('BodyMetrics')}">
<style>
.form-step {
	display: none;
}

.form-step.active {
	display: block;
}

.slider-label {
	font-size: 14px;
	margin-top: 5px;
}
</style>
</head>
<body>
	<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
	<main>
		<div class="container mt-5">
			<h2>회원가입 추가 정보 입력</h2>
			<div class="mt-2 text-danger" th:if="${param.firsttry}">이메일 인증이
				완료됐습니다 !! 신체정보를 입력한 후 My Records 페이지 이용이 가능합니다.</div>
			<form id="addBodyMetrics" method="post">
				<!--몸무게와 키 -->
				<div class="form-step">
					<input type="text" class="form-control d-none" id="username"
						name="username" th:value="${#authentication.name}">
					<div class="mb-3">
						<label for="weight" class="form-label">몸무게 (kg)</label> <input
							type="number" name="weight" class="form-control" id="weight"
							min="20" max="200" required>
					</div>
					<div class="mb-3">
						<label for="height" class="form-label">키 (cm)</label> <input
							type="number" name="height" class="form-control" id="height"
							min="100" max="250" required>
					</div>
					<button type="submit" class="btn btn-success">가입 완료</button>

				</div>
			</form>
		</div>

		<!-- Toast 컨테이너: 우상단에 위치하도록 설정 -->
		<div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
			<div id="liveToast" class="toast" role="alert" aria-live="assertive"
				aria-atomic="true" data-bs-autohide="false">
				<div class="toast-header">
					<strong class="me-auto">알림</strong>
					<button type="button" class="btn-close" data-bs-dismiss="toast"
						aria-label="Close"></button>
				</div>
				<div class="toast-body">계속 표시되는 메시지!</div>
			</div>
		</div>


	</main>
	<th:block th:replace="~{layout/fragments :: pageFooter}"></th:block>
	<th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<!-- Toast 표시 스크립트 -->
	<script>
		var toastEl = document.getElementById('liveToast');
		var toast = new bootstrap.Toast(toastEl);
		toast.show(); // 페이지 로드 시 자동으로 Toast 띄우기
	</script>

</body>
</html>