<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/fragments::htmlHead('Login')}">
</head>
<body>
	<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
	<main class="mt-2">
		<div class="card card-body">
			<form method="post"
				style="background: white; padding: 20px; border-radius: 8px; border: none; box-shadow: none;">
				<div class="mt-2 text-danger" th:if="${param.error}">Invalid account</div>
				<div class="mt-2 text-danger" th:if="${param.logout}">you've been logged out. Log-in again</div>
				<div class="mt-2 text-success" th:if="${param.verified}">Email verification was successful! Log-in now.</div>
				<div class="mt-2">
					<input type="text" class="form-control" name="username"
						placeholder="username" required autofocus />
				</div>
				<div class="mt-2">
					<input type="password" class="form-control" name="password"
						placeholder="password" required />
				</div>
				<div class="mt-2">
					<input type="submit" class="btn form-control" value="login">
				</div>
				<a th:href="@{/member/signup}" class="form-control btn"> register </a>
			</form>
		</div>
	</main>
	<th:block th:replace="~{layout/fragments :: pageFooter}"></th:block>
	<th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
</body>
</html>
