<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: htmlHead('My Workout Lists')}">
</head>
<body>
	<main>
		<div class="mt-2 centered-form" th:object="${record}">
			<div class="card" style="width: 100%; max-width: 500px;">
				<!-- 제목과 운동 유형 -->
				<div class="card-title" th:text="*{title}"></div>
				<div class="card-subtitle" th:text="*{workoutType}"></div>

				<!-- 지도 -->
				<div class="map"
					th:attr="data-lat=*{startLat}, data-lng=*{startLng}"
					style="width: 300px; height: 200px;"></div>

				<!-- 운동 정보 -->
				<div class="card-details">
					<p class="d-none">
						<strong>아이디:</strong> <span id="id" th:text="*{id}"></span>
					</p>
					<p>
						<strong>닉네임:</strong> <span id="nickname"
							th:text="*{member.nickname}"></span>
					</p>
					<p>
						<strong>운동 날짜:</strong> <span th:text="*{workoutDate}"></span>
					</p>
					<p>
						<strong>국가:</strong> <span th:text="*{country}"></span>
					</p>
					<p>
						<strong>운동 시간:</strong> <span th:text="*{workoutDuration}"></span>
						초
					</p>
					<p>
						<strong>거리:</strong> <span th:text="*{distance}"></span> m
					</p>
					<p>
						<strong>평균 속도:</strong> <span th:text="*{avgSpeed}"></span> km/h
					</p>
					<p>
						<strong>소모 칼로리:</strong> <span th:text="*{caloriesBurned}"></span>
						kcal
					</p>
					<p>
						<strong>좋아요 수:</strong> <span th:text="*{likeCount}"></span>
					</p>
					<p>
						<strong>비공개 여부:</strong> <span th:text="*{isPrivate}"></span>
					</p>
					<button class="btn" id="btnLike">좋아요</button>
				</div>
				<div class="card-footer"
					th:if="*{member.username eq #authentication.name}">
					<a th:href="@{/activities/modify(id=*{id})}"
						class="btn btn-primary" id="btnModify">수정</a> <a
						class="btn btn-danger" id="btnDelete">삭제</a>
				</div>
			</div>
		</div>
		<div class="centered-form">
			<div class="card" style="width: 100%; max-width: 500px;">
				<div class="card-body">

					<div class="d-none" id="username" th:text="*{#authentication.name}"></div>
					<div class="mb-3">
						<textarea class="form-control" id="content" name="content"
							rows="4" placeholder="댓글을 작성하세요..." required></textarea>
					</div>
					<div class="mb-3">
						<button id="btnCreate" class="btn btn-primary w-100">댓글
							작성</button>
					</div>

				</div>
			</div>
		</div>
		<div class="centered-form">
			<!-- 댓글 목록 -->
			<div class="mt-2" style="width: 100%; max-width: 500px;"
				id="divComments"></div>
		</div>
		<div class="centered-form">
			<!-- 댓글 목록 페이지 더보기 버튼 -->
			<div class="mt-2 d-flex justify-content-center" id="divMore">
				<button class="btn btn-outline-secondary" id="btnMore">더보기</button>
			</div>

		</div>
	</main>
	<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a968ac66f9f47a5a20d82c0fa106e0f0"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script th:src="@{/activities/details.js}"></script>
	<script>
		var mapContainer = document.querySelector(".map"); //지도를 담을 영역의 DOM 레퍼런스
		var lat = mapContainer.getAttribute("data-lat"); // data-lat 값 가져오기
		var lng = mapContainer.getAttribute("data-lng"); // data-lng 값 가져오기

		var options = {
			center : new kakao.maps.LatLng(lat, lng), // 지도 중심 좌표 설정
			level : 3
		// 지도 확대/축소 레벨
		};
		var map = new kakao.maps.Map(mapContainer, options); //지도 생성 및 객체 리턴
	</script>
</body>
</html>
