<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: htmlHead('My Workout Lists')}">
</head>
<body>
	<div class="container mt-4" th:object="${record}">
		<h2 class="mb-4">운동 기록 입력</h2>
		<form th:action="@{/activities/modify}" method="post">
			<!-- 글 아이디 -->
			<div class="mb-3 d-none">
				<label for="id" class="form-label">아이디</label> <input type="number"
					class="form-control" id="id" name="id" th:value="*{id}">
			</div>
			<!-- 유저아이디 -->
			<div class="mb-3 d-none">
				<label for="id" class="form-label">유저아이디</label> <input type="userId"
					class="form-control" id="userId" name="userId" th:value="*{member.id}">
			</div>
			<!-- 제목 -->
			<div class="mb-3">
				<label for="title" class="form-label">운동 제목</label> <input
					type="text" class="form-control" id="title" name="title"
					th:value="*{title}" required>
			</div>

			<!-- 운동 날짜 -->
			<div class="mb-3">
				<label for="workoutDate" class="form-label">운동 날짜</label> <input
					type="datetime-local" class="form-control" id="workoutDate"
					name="workoutDate" th:value="*{workoutDate}" required>
			</div>

			<!-- 국가 -->
			<div class="mb-3">
				<label for="country" class="form-label">국가</label> <input
					type="text" th:value="*{country}" class="form-control" id="country"
					name="country" required>
			</div>

			<!-- 운동 유형 -->
			<div class="mb-3">
				<label for="workoutType" class="form-label">운동 유형</label> <select
					class="form-select" id="workoutType" th:value="*{workoutType}"
					name="workoutType" required>
					<option value="Run">러닝</option>
					<option value="Walk">걷기</option>
				</select>
			</div>

			<!-- 운동 시간 (초) -->
			<div class="mb-3">
				<label for="workoutDuration" class="form-label">운동 시간 (초)</label> <input
					type="number" class="form-control" id="workoutDuration"
					name="workoutDuration" th:value="*{workoutDuration}" required>
			</div>

			<!-- 거리 (m) -->
			<div class="mb-3">
				<label for="distance" class="form-label">거리 (m)</label> <input
					type="number" step="0.01" class="form-control" id="distance"
					name="distance" th:value="*{distance}" required>
			</div>

			<!-- 평균 속도 (m/s) -->
			<div class="mb-3">
				<label for="avgSpeed" class="form-label">평균 속도 (km/h)</label> <input
					type="number" step="0.1" class="form-control" id="avgSpeed"
					name="avgSpeed" th:value="*{avgSpeed}" required>
			</div>

			<!-- 지도에서 좌표 선택 (위도 & 경도) -->
			<div class="mb-3">
				<label class="form-label">시작 위치</label>
				<div id="map" style="width: 100%; height: 300px;"></div>
				<!--<input type="hidden" id="startLat" th:value="*{startLat}"> <input
					type="hidden" th:value="*{startLng}" id="startLng"> -->
				<p>
					클릭한 위치 - 위도: <input id="latDisplay" type="text" name="startLat"
						th:value="*{startLat}" required></input>, 경도: <input
						id="lngDisplay" type="text" th:value="*{startLng}" name="startLng"
						required></input>
				</p>
			</div>

			<!-- 비공개 여부 -->
			<div class="mb-3 form-check">
				<input type="checkbox" class="form-check-input" id="isPrivate"
					th:checked="*{isPrivate} == 'Y'" name="isPrivate"> <label
					class="form-check-label" for="isPrivate">비공개</label>
			</div>
			<button class="btn btn-primary" id="btnSave">저장</button>
		</form>
	</div>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a968ac66f9f47a5a20d82c0fa106e0f0"></script>
	<script>
		//기본 위도 & 경도
		const lat = document.getElementById('latDisplay').value;
		const lng = document.getElementById('lngDisplay').value;

		// 지도 생성
		var container = document.getElementById('map');
		var options = {
			center : new kakao.maps.LatLng(lat, lng), // 기본 위치 (서울)
			level : 3
		};
		var map = new kakao.maps.Map(container, options);

		// 지도 클릭 이벤트 (위도 & 경도 가져오기)
		kakao.maps.event.addListener(map, 'click', function(mouseEvent) {
			var latlng = mouseEvent.latLng;

			//document.getElementById('startLat').value = latlng.getLat();
			//document.getElementById('startLng').value = latlng.getLng();
			document.getElementById('latDisplay').value = latlng.getLat();
			document.getElementById('lngDisplay').value = latlng.getLng();
		});
	</script>
</body>
</html>
