<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: htmlHead('My DashBoard')}">
</head>
<body>
	<div class="mt-2" id="review"></div>

	<h2>달린 시간</h2>
	<canvas id="lineChart" width="400" height="200"></canvas>

	<h2>운동 종류별 비율</h2>
	<canvas id="pieChart" width="400" height="400"></canvas>

	<h2>몸무게 변화량</h2>
	<canvas id="barChart" width="400" height="200"></canvas>




	<!-- JavaScript에 값을 전달 -->
	<input type="hidden" id="runningRoutine" th:value="${runningRoutine}" />
	<input type="hidden" id="walkingRoutine" th:value="${walkingRoutine}" />
	<input type="hidden" id="stretchingRoutine"
		th:value="${stretchingRoutine}" />
	<input type="hidden" id="weights" th:value="${weights}" />
	<input type="hidden" id="runningTimes" th:value="${runningTimes}" />
	<input type="hidden" id="walkingsTimes" th:value="${walkingsTimes}" />
	<input type="hidden" id="stretchingsTimes"
		th:value="${stretchingsTimes}" />


	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:src="@{/activities/mydashboard.js}"></script>
	<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
</body>
</html>