<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/fragments :: htmlHead('My Workout Lists')}">
</head>
<body>
	<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
	<main class="mt-2">
		<div class="mt-2">
			<div class="mt-2">
				<!-- 검색기능 -->
			</div>
			<div class="new-record-container">
				<a th:href="@{/activities/create}" class="new-record-btn">새 기록</a>
			</div>

			<div class="mt-2" th:each="page : ${page}" th:object="${page}">
				<div class="card">
					<a th:href="@{/activities/details(id=*{id})}">
						<div class="card-title" th:text="*{title}"></div>
					</a>
					<div class="card-subtitle" th:text="*{workoutType}"></div>

					<!-- 지도 -->
					<div class="map"
						th:attr="data-lat=*{startLat}, data-lng=*{startLng}"></div>

					<!-- 운동 기록 정보 -->
					<div class="card-details">
						<div class="card-detail-item">
							📅 <span th:text="*{workoutDate}"></span>
						</div>
						<div class="card-detail-item">
							⏳ <span th:text="*{workoutDuration} + '분'"></span>
						</div>
						<div class="card-detail-item">
							🚴‍♂️ <span th:text="*{avgSpeed} + ' km/h'"></span>
						</div>
						<div class="card-detail-item">
							📏 <span th:text="*{distance} + ' km'"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<th:block th:replace="~{/layout/fragments :: pageFooter}"></th:block>
	<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a968ac66f9f47a5a20d82c0fa106e0f0"></script>
	<script>
		var mapContainers = document.querySelectorAll(".map"); //지도를 담을 영역의 DOM 레퍼런스
		mapContainers.forEach(function(container) {
			var lat = container.getAttribute("data-lat"); // data-lat 값 가져오기
			var lng = container.getAttribute("data-lng"); // data-lng 값 가져오기

			var options = {
				center : new kakao.maps.LatLng(lat, lng), // 지도 중심 좌표 설정
				level : 3
			// 지도 확대/축소 레벨
			};
			console.log(lat, lng);

			var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
		});
	</script>
</body>
</html>