<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{/layout/fragments :: htmlHead('tailorfit home')}">
</head>
<body>
	<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
	<section class="hero">
		<div class="hero-container">
			<div class="column-left">
				<h1>Get Personalized Workout Routines</h1>
				<p>Sync with Strava to track your workout progress and consult
					with trainers for expert advice. Start your fitness journey today!</p>
				<a th:href="@{/member/signup}">
					<button>Get Started</button>
				</a>
			</div>
			<div class="column-right">
				<img src="/images/image-1.svg" alt="illustration
        "
					class="hero-image" />
			</div>
		</div>
	</section>

	<th:block th:replace="~{/layout/fragments :: pageFooter}"></th:block>
	<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
</body>
</html>