<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{/layout/fragments :: htmlHead('tailorfit home')}">
</head>
<body>
	<th:block sec:authorize="isAnonymous()">
		<a th:href="@{/member/signin}">로그인</a>
	</th:block>
	<th:block sec:authorize="isAuthenticated()">
		<a th:href="@{/logout}">로그아웃</a>
	</th:block>
	
	<a th:href="@{/stravaauth/login}">스트라바 연결하기</a>
	<a th:href="@{/member/bodymetrics}">건강정보 입력하기</a>
	
	<a th:href="@{/personal/activities}">내 활동목록</a>
	<a th:href="@{/personal/myathletes}">내선수목록</a>
	<a th:href="@{/shared/activities}">퍼블릭 활동목록</a>
	<a th:href="@{/personal/dashboard}">내 대쉬보드, 트레이너와 활동영역</a>
</body>
</html>